.about {
  height: calc(100vh - 8rem);
  padding: 4rem 0;
  display: grid;
  padding: 1.5rem 0;
  grid-template-columns: 1fr;

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1  {
      color: $dark-blue;
      font-size: 4rem;
    }

    & .extra {
      max-width: 15px;
    }
  }

  & .body {
    width: 50%;
    margin: auto;

    & p {
      margin: 1rem 0;
    }

    & h5 {
      font-size: 1.8rem;
    }
  }
}
