.index-title {
  text-align: center;

  & h2 {
    margin: 0;
    font-size: 4rem;
  }

  @media screen and (max-width: 600px) {
    & h2 {
      font-size: 2rem;
    }
  }

  & img {
    max-width: 15px;
  }
}

.index {

  &-header {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & img {
      margin-top: 5%;
      transform: translateY(-50%);
      width: 60%;
    }

    @media screen and (max-width: 600px) {
      & img {
        margin-top: 0%;
        width: 90%;
      }
    }

    & .index-button {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);

      color: $yellow;
      font-family: "Lato";
      font-weight: 1000;
      font-size: 3rem;
      text-decoration: none;
    }
  }

  &-news {
    text-align: center;
    min-height: calc(100vh - 8rem);
    padding: 4rem 0;

    & .news-content {
      width: 70%;
      margin: auto;
      margin-top: 1rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 1rem;

      @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
      }

      & img {
        max-width: 100%;
        display: block;
        box-shadow: $shadow;
      }

      & a {
        &:nth-of-type(1) {
          grid-column: 1 / 4;
        }
        &:nth-of-type(2) {
          grid-column: 4 / 7;
        }
        &:nth-of-type(3) {
          grid-column: 1 / 3;
        }
        &:nth-of-type(4) {
          grid-column: 3 / 5;
        }
        &:nth-of-type(5) {
          grid-column: 5 / 7;
        }

        @media screen and (max-width: 600px) {
          &:nth-of-type(1) {
            grid-column: 1 / 2;
          }
          &:nth-of-type(2) {
            grid-column: 1 / 2;
          }
          &:nth-of-type(3) {
            grid-column: 1 / 2;
          }
          &:nth-of-type(4) {
            grid-column: 1 / 2;
          }
          &:nth-of-type(5) {
            grid-column: 1 / 2;
          }
        }
      }
    }
  }

  &-team {
    min-height: calc(100vh - 8rem);
    padding: 4rem 0;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 150px auto;

    @media screen and (max-width: 600px) {

      & {
        grid-template-rows: 100px auto
      }

      & h2 {
        font-size: 2rem
      }
    }
  }

  &-story {
    display: grid;
    min-height: calc(100vh - 8rem);
    padding: 4rem 0;

    & .about-section {
      width: 70%;
      margin: auto;
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
        width: 90%;
      }

      & img {
        max-width: 100%;
        margin: auto;
      }

      & .content {
        & p {
          color: $dark-blue;
        }

        & h6 {
          color: $yellow;
          font-size: 1rem;
        }
      }
    }
  }
}

.team-content {
  position: relative;
  width: 90%;
  height: 100%;
  display: grid;
  margin: auto;

  & .players {
    max-width: 1300px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      & {
        display: flex;
        flex-wrap: wrap;
      }
    }

    & .player {
      width: 20%;
      height: 100%;
      display: grid;
      grid-template-rows: 3fr 1fr;
      position: relative;

      @media screen and (max-width: 600px) {
        & {
          width: 33.333%;
          height: auto;
          margin: 0;
        }
      }

      & img {
        max-width: 100%;
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        position: relative;
        z-index: 1;
      }

      &-info {
        padding-bottom: 1rem;
        text-align: center;
        transform: translateY(-60px);
        opacity: 0;
        transition: all .15s;

        @media screen and (max-width: 600px) {
          transform: translateY(0);
        }

        & h5 {
          color: $yellow;
        }

        & h6 {
          font-family: Poppins
        }

        @media screen and (max-width: 600px) {
          & {
            opacity: 1;
          }
        }
      }

      &:hover .player-info {
        transform: translateY(0);
        opacity: 1;
        transition: all .15s;
      }

      @media screen and (max-width: 600px) {
        &:hover .player-info {
          transform: translateY(0);
          opacity: 1;
        }
      }

      &:nth-of-type(1) {
        margin-right: -150px;
        margin-left: 0px;

        & img {
          transform: scale(.8);
        }

        @media screen and (max-width: 600px) {
          & {
            margin: 0;
            & img {
              transform: scale(1);
            }
          }
        }
      }
      &:nth-of-type(2) {
        margin-right: -135px;
        margin-left: 0px;
        z-index: 2;

        & img {
          transform: scale(.9);
        }

        @media screen and (max-width: 600px) {
          & {
            margin: 0;
            & img {
              transform: scale(1);
            }
          }
        }
      }
      &:nth-of-type(3) {
        margin-right: 0;
        margin-left: 0px;
        z-index: 3;

        @media screen and (max-width: 600px) {
          & {
            margin: 0;
            & img {
              transform: scale(1);
            }
          }
        }
      }
      &:nth-of-type(4) {
        margin-left: -135px;
        margin-right: 0px;
        z-index: 2;

        & img {
          transform: scale(.9);
        }

        @media screen and (max-width: 600px) {
          & {
            margin: 0;
            & img {
              transform: scale(1);
            }
          }
        }
      }
      &:nth-of-type(5) {
        margin-left: -150px;
        margin-right: 0px;

        & img {
          transform: scale(.8);
        }

        @media screen and (max-width: 600px) {
          & {
            margin: 0;
            & img {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
