@import '_variables';
@import '_imports';
@import 'default';
@import 'index';
@import 'about';
@import 'news';
@import 'teams';

@import 'gretaros';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $dark-blue;

  font-family: "Poppins"
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gretaros";
  color: $white;
  margin: 0;
}

.bg-dark {
  background-image: url('/assets/background-dark.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  scroll-snap-type: y proximity;

  & h1 {
    color: $white
  }

   & h2 {
     color: $white
   }

   & .player-info h6 {
     color: $white
   }
}

.bg-white {
  background-image: url('/assets/background-white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  scroll-snap-type: y proximity;

  & h1 {
    color: $dark-blue
  }

   & h2 {
     color: $dark-blue
   }

   & .player-info h6 {
     color: $dark-blue
   }
}
