.sponsors {

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;

    & h1  {
      font-size: 4rem;
    }

    & .extra {
      max-width: 15px;
    }
  }

  &-content {
    min-height: calc(100vh - 8rem);
    display: grid;
    padding: 4rem 0;
    color: $white;

    & a {
      width: 20%;
      margin: auto;
      margin-top: 0;
      padding: 1rem;

      & img {
        max-width: 100%;
      }
    }

  }
}
