.teams {

  &-section {

    & .team-single {
      text-align: center;
      min-height: calc(100vh - 8rem);
      padding: 4rem 0;

      & h1 {
        font-size: 4rem;

        @media screen and (max-width: 600px) {
          font-size: 2rem
        }
      }

      & .team-content {
        margin-top: 1rem;
        max-height: 80%;
      }

      & h1 {

      }

      & .extra {
        max-width: 15px;
      }

    }

  }

}
